
@{
    ViewBag.Title = "Details";
}

<div>
    <h1>Items</h1>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
        @foreach (var item in ViewBag.Items)
            {
            <tr>
                <td>@item.Id</td>
                <td><a href="/Item/Details/@item.Id">@item.CategoryType.Name</a></td>
                <td>@item.Description</td>
                <td>@item.Price</td>
            </tr>
        }
    </table>
</div>
@section Footer
{
<div id="footer">
    <div class="in_footer">
        <h4>My cool footer</h4>
    </div>
</div>
}


